.floatingdiv {
    justify-content: space-around;
    display: flex;
    background: #fff;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    height: 4.5rem;
    padding: 0px 28px 0px 0px;
}

.floatingdiv img {
    transform: scale(0.4);
}

.floatingdiv span {
    font-size: 16px;
    color: black;
}